[submodule "themes/dopetrope"]
	path = themes/dopetrope
	url = https://github.com/curttimson/hugo-theme-dopetrope.git
[submodule "themes/hugo-learn-theme"]
	path = themes/hugo-learn-theme
	url = http://github.com/matcornic/hugo-theme-learn
